@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
*{

  width:100%;
}
.container{
  width:80%;
  font-size: 20px;
  font-weight: bold;
  align-items: center;
  text-align:center;
  border-radius: 10px;
  font-family: "Dosis", sans-serif;
}
input{
  width:80%;
  text-align: center;
  font-family: "Dosis", sans-serif;
}
button{
  width:40%;
  font-family: "Dosis", sans-serif;
  text-align: center;
  
}
h2{
  text-align: left;
  font-family: "Times New Roman", Times,serif;
}
